<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>CREA-TO</title>
	<style type="text/css" media="screen">
		*  {
			margin:0;
			padding:0;
		}
		
		html, body {height:100%;}
		
		.geral {
			min-height:100%;
			position:relative;
			width:800px;
		}
		
		.footer {
			position:absolute;
			bottom:0;
			width:100%;
		}
		
		.content {overflow:hidden;}
		.aside {width:200px;}
		.fleft {float:left;}
		.fright {float:right;}
		
	</style>
</head>
<body style="background-color:#EEE8E8"">		
<div class="panel panel-default" align="left">
	
	<div class="panel-heading"><a href="/home/" class="btn btn-danger" role="button">Voltar</a><h4 align="center"><b>LISTA DE RELATÓRIOS</b></h4></div>	
	<div class="panel panel-default">
			
  <!-- Table -->
    <table class="table">
	    <th>#</th>
	    <th>NOME DO SETOR</th>
		<th>NUMERO DO PATRIMÔNIO</th>
		<th>NOME DO EQUIPAMENTO</th>
		<th>MARCA</th>
		{% for relatorio in relatorio %}
		<tr> 
		
			<td>{{ relatorio.id}}</td>	
			<td>{{ relatorio.setor}}</td>  
			<td>{{ relatorio.patrimonio}}</td>
			<td>{{ relatorio.nome}}</a></td>   
			<td>{{ relatorio.marca}}</td>
			<td><a href="{{relatorio.id}}/" class="btn btn-success" role="button">Gerar Relatorio</a></td>		
		</tr>
		{% endfor %}
    </table>
	</div>
</div>
<div class="footer"><p align='center'>CREA-TO &copy; 2019</p></div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>